/* Layout */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    width: 100%;
    height: 261rem;
    border: 1px solid black;
}

body {
    width: 100%;
    height: auto;
}

header,
nav,
main,
footer {
    width: 100%;
}

h2,
h3 {
    font-family: 'Assistant';
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.39px;
    text-align: left;
    padding: auto;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52.32px;
    text-align: left;
    padding: auto;
}


header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 108px;

}

header img {
    margin-right: auto;
}

header nav {
    display: flex;
    flex: 100%;
    align-items: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex: 1;
    align-items: center;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Assistant';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.39px;
}

.default-button {
    background-color: #F25757;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    line-height: 26.16px;
    padding: 10px 20px;
    font-family: 'Assistant';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

nav .default-button {
    margin-top: 0;
}

.container {
    height: 26rem;
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;

}

.container img {
    height: 100%;
    width: 100%;
}

.container-1 {
    height: 36rem auto;
    display: flex;
    flex-wrap: row wrap;
}

article {
    width: 100%;
}

.child-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #E7E991;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.child-1 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52.32px;
    padding-left: 60px;
}

.child-1 h3 {
    padding-left: 60px;
}

.child-1 p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: right;
    padding: 1rem 3rem 0rem 2rem;
}

.child-1 .definition {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: right;
    font-style: italic;
    padding: auto;
}

.child-2 {
    background-color: #FEFFDB;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.child-2 img {
    height: auto;
    padding: 2rem;
}

.child-2 .default-button {
    margin: 3rem;
}

.child-2 p {
    font-family: 'Assistant';
    font-weight: 400;
    font-size: 16px;
    line-height: 20.93px;
    text-align: center;
    padding: 0px 90px 0px 90px;
    /* (arr der aba izq) */
}

.child-2 h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.39px;
    padding: auto;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32rem;
}

.background-image {
    display: flex;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* z-index: 1; */
}

.background-image img {
    width: 100%;
    height: auto;
}

.text-1 {
    position: absolute;
    z-index: 2;
    padding: 40px 0px 30px 100px;
}

.table-container {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: auto;
}

.styled-table {

    border-collapse: collapse;
    border-spacing: 0;
    width: 1204px;
}

.styled-table th,
td {
    font-family: 'Assistant';
    font-size: 16px;
    line-height: 20.93px;
    text-align: center;
    border-collapse: collapse;
}

.styled-table th {
    background-color: #1C71A1;
    font-weight: 700;
    color: #FFFFFF;
}

.styled-table td {
    font-weight: 400;
    color: #000000;
}

.styled-table tr {
    height: 42px;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.container-3 {
    display: flex;
    width: 100%;
    height: 70rem;
    background-color: #1C71A1;
}

.container-3 .background-image {
    display: flex;
    width: 100%;
    height: 670px;
    /* position: absolute; */
    z-index: 1;
}

.container-3 .background-image img {
    width: 100%;
    height: 100%;
}

.background-1 {
    /* margin-top: 41rem; */
    /* bottom: 0rem; */
    display: block;
    background-color: #1C71A1;
    height: 19rem;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid black;
}

.text-2 {
    position: absolute;
    z-index: 2;
    text-align: left;
    padding: 3rem 63rem 3rem 7rem;
}

.text-2 h2 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 83.71px;
}

.text-2 h3 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 41.86px;
    /* padding-bottom: 1rem; */
}

.container-4 {
    width: 100%;
    position: absolute;
    z-index: 2;
    transform: translate(-0%, 200%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-1,
.box-2,
.box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #FFFFFF;
    width: 359px;
    height: 291px;
    box-sizing: border-box;
    border: 5px solid transparent;
    padding: auto;
}

.image-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.image-name img {
    margin-right: 10px;
    width: 100px;
    height: auto;
}

.image-name h3 {
    margin: 0;
}

.box-1 p,
.box-2 p,
.box-3 p {
    text-align: left;
    font-family: 'Assistant';
    font-weight: 400;
    font-size: 16px;
    line-height: 20.93px;
    margin: 20px 0px 30px 30px;
    padding: auto;
}

.box-1 {
    border-color: #20DD1C;
}

.box-2 {
    border-color: #E7E991;
}

.box-3 {
    border-color: #F88484;
}

.container-5 {
    width: 100%;
    display: flex;
    height: 51.31rem;
    flex-direction: row;
}

.child-3 {
    width: 50%;
    height: 100%;
    border-left: 0.1rem solid black;
}

.child-3 img {
    width: 100%;
    height: 100%;
}

.child-4 {
    width: 50%;
    background-color: #CECECE;
    height: 100%;
}

.child-4 h2 {
    color: #F25757;
    padding: 0rem 0rem 1rem 10rem;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span1,
.span2,
.span3,
.span4,
.span5 {
    align-content: start;
}

.layout input {
    height: 5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    font-family: 'Assistant';
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.3rem;
    padding: 1.87rem;
}

.span1 input,
.span2 input,
.span4 input {
    width: 38rem;
}

.layout label {
    text-align: left;
    font-family: 'Assistant';
    font-size: 18px;
    font-weight: 400;
    line-height: 20.93px;
}

.location-inputs {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.input1 input {
    width: 18.5rem;
    margin-right: 1rem;
}

.input2 input {
    width: 18.5rem;
}


.location-inputs label {
    margin-bottom: 5px;
    /* Adjust the spacing between label and input */
}

.child-4 input {
    border: 1px black solid;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 5rem;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}


.layout .default-button {
    height: 3.12rem;
    width: 40rem;
    margin: 1rem;
    align-self: center;
}

.container-6 {
    display: flex;
    height: 21rem;
    width: 100%;
    /* padding: 3rem; */
}

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 21rem;
    position: relative;
    width: 100%;
}

.footer-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    /* grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: auto;
    gap: 40px; */
}

.container-7 h3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    color: #BDBDBD;
    padding: auto;
}

.container-7 ul {
    margin-bottom: 2rem;
}

.container-7 li a {
    font-family: 'Assistant';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #BDBDBD;
    text-decoration: none;
    /* padding: auto; */
}

.container-8 {
    justify-content: baseline;
}

.container-8 p {
    color: #BDBDBD;
    font-size: 14px;
    font-family: 'Assistant';
    line-height: 18.31px;
    font-weight: 400;
    margin: 0;
    padding: auto;
}

@media (min-width: 400px) and (max-width: 1240px) {

    header {
        height: auto;
        padding: 1rem;
    }

    header img {
        margin: 0;
        width: 100%;
        /* Logo takes full width */
        margin-bottom: 1rem;
        /* Add some space between logo and navigation */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
        text-align: center;
        /* Center the text in each list item */
    }

    nav .default-button {
        margin-top: 1rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        /* padding: 1rem; */
    }


    .container-1 {
        flex-direction: column;
        align-items: center;
        /* padding: 1rem; */
    }

    .child-1 {
        width: 100%;
    }

    .child-2 {
        width: 100%;
        padding: 2rem;
    }

    .child-1 h2,
    .child-1 h3,
    .child-1 p,
    .child-1 .definition {
        padding: 3rem;
    }

    .child-2 h2,
    .child-2 p {
        padding: 0.1rem;
    }

    .child-2 .default-button {
        margin-bottom: 3rem;
    }

    .child-2 img {
        margin-top: 3rem;
    }

    .child-3 {
        width: 100%;
        height: 100%;
        border-left: 0.1rem solid black;
    }

    .child-3 img {
        width: 100%;
        height: 100%;
    }

    .child-4 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .container-4 {
        transform: translate(0%, 80%);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Adjust margin-top for smaller screens */
    }

    .box-1,
    .box-2,
    .box-3 {
        margin-top: 1rem;
        width: calc(50% - 2rem);
    }

    .background-image {
        width: 100%;
        height: 100%;
    }

    .text-2 {
        display: flex;
        flex-direction: column;
    }


    .text-2 h3 {
        padding-bottom: 20rem;
    }

    .background-1 {
        width: 100%;
        height: 100%;
    }

    .container-3 {
        height: 110rem;
    }

    .container-5 {
        flex-direction: column;
        height: auto;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    .child-4 {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .container-6 {
        flex-direction: column;
        align-items: center;
    }

    .footer-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .container-7 {
        flex-direction: column;
    }

    .layout {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .layout input {
        height: 2rem;
    }

    .input1 input {
        width: 9.5rem;
    }

    .input2 input {
        width: 9.5rem;
    }

    .span1 input,
    .span2 input,
    .span4 input {
        width: 19rem;
        margin-right: 0.5rem;
    }

    .span5 .default-button {
        width: 19rem;
        margin-bottom: 2rem;
    }


}